<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="myeclipse.connection.profile">
			hibernatetest
		</property>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.url">
			jdbc:mysql://localhost:3306/hibernatetest
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="show_sql">true</property>
		<!-- dbcp c3p0 proxy -->
		<!-- c3p0数据库链接,指定连接池里最大连接数 线程池 -->
		<property name="hibernate.c3p0.max_size">100</property>
		<!-- c3p0数据库链接,指定连接池里最小连接数 -->
		<property name="hibernate.c3p0.min_size">100</property>
		<!-- c3p0数据库链接,指定连接池里连接超时的时长 -->
		<property name="hibernate.c3p0.timeout">5000</property>
		<!-- c3p0数据库链接,指定连接池里最大缓存多少个Statement对象 -->
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>
		<!-- create update create-drop validate -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping resource="com/sam/bean/User.hbm.xml" />
		<mapping class="com.sam.entity.OneToMany.CityOneToMany" />
		<mapping class="com.sam.entity.OneToMany.PersonOneToMany" />
		<mapping class="com.sam.entity.ManyToOne.MAddress" />
		<mapping class="com.sam.entity.ManyToOne.MPerson" />
		<mapping class="com.sam.entity.OneToOne.TyUser" />
		<mapping class="com.sam.entity.OneToOne.UserChildren" />
		<mapping class="com.sam.entity.Person" />
		<mapping class="com.sam.entity.Student" />
	</session-factory>

</hibernate-configuration>